<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <booleanAttribute key="ADAPTIVE_CLOCK" value="false"/>
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="591208"/>
        <mapEntry key="*list global low level symbols" value="1265711"/>
        <mapEntry key="*loading memory from target" value="12266470"/>
        <mapEntry key="*loading values from target" value="12825726"/>
        <mapEntry key="*updating expressions" value="8692490"/>
        <mapEntry key="*updating local_variables" value="1484430"/>
        <mapEntry key="*updating registers" value="145916600"/>
        <mapEntry key="AddEventObserver" value="7882026"/>
        <mapEntry key="Evaluate" value="1807445"/>
        <mapEntry key="areCachesAvailable" value="444726"/>
        <mapEntry key="backtrace" value="2146528"/>
        <mapEntry key="break" value="27105827"/>
        <mapEntry key="compute execution mode" value="9091280"/>
        <mapEntry key="continue" value="15915211"/>
        <mapEntry key="core" value="3805592"/>
        <mapEntry key="disable" value="15204600"/>
        <mapEntry key="disassemble" value="72129350"/>
        <mapEntry key="evaluate address" value="3728118"/>
        <mapEntry key="get byte order" value="192448"/>
        <mapEntry key="get capabilities" value="139289"/>
        <mapEntry key="get execution addresss" value="321115"/>
        <mapEntry key="get source lines" value="440335"/>
        <mapEntry key="getValidEncodings" value="391305"/>
        <mapEntry key="initialize command help" value="86954937"/>
        <mapEntry key="interrupt" value="28877391"/>
        <mapEntry key="list breakpoint options" value="1179359"/>
        <mapEntry key="list breakpoints" value="995126"/>
        <mapEntry key="list instruction sets" value="423530"/>
        <mapEntry key="list signals" value="2212839"/>
        <mapEntry key="list watchpoint options" value="2870447"/>
        <mapEntry key="list watchpoints" value="696043"/>
        <mapEntry key="loadfile" value="532907305"/>
        <mapEntry key="next" value="63109706"/>
        <mapEntry key="remove" value="11397549"/>
        <mapEntry key="select-frame" value="4217962"/>
        <mapEntry key="set CWD" value="7156781"/>
        <mapEntry key="set breakpoint properties" value="49853022"/>
        <mapEntry key="set debug-from" value="630041"/>
        <mapEntry key="source altera_target_check.py" value="1395715471"/>
        <mapEntry key="source preloader.ds" value="2563183825"/>
        <mapEntry key="start" value="43550603"/>
        <mapEntry key="step" value="90075960"/>
        <mapEntry key="toggleBreakpoint" value="19409415"/>
        <mapEntry key="waitForTargetToStop" value="11132688"/>
    </mapAttribute>
    <stringAttribute key="CLOCK_SPEED" value="1MHz"/>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/lab4/Debug/lab4.axf}"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.1.TYPE" value="SYMBOLS_FILE"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.1.VALUE" value="${workspace_loc:/lab4/Debug/lab4.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
    <booleanAttribute key="SWD" value="false"/>
    <booleanAttribute key="SWJ" value="false"/>
    <stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
    <booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
    <listAttribute key="TREE_NODE_PROPERTIES:debugger.view.ExpressionsView">
        <listEntry value="NODE CACHE VERSION 1"/>
        <listEntry value="EXPRESSION_GROUP:式:VALUE:tx_alt_ttb[0][(0xFFD00000 &gt;&gt; 20)]"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="16進"/>
    </listAttribute>
    <booleanAttribute key="VFS_ENABLED" value="true"/>
    <stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
    <stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value=""/>
        <listEntry value="&lt;次の命令&gt;"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
        <listEntry value=""/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.addresses">
        <listEntry value=""/>
        <listEntry value="0xFFD00000"/>
        <listEntry value="0x00000000"/>
        <listEntry value="0xFFD05010"/>
        <listEntry value="0xFFFF0000"/>
        <listEntry value="0x00100000"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.ranges">
        <listEntry value=""/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
    </listAttribute>
    <stringAttribute key="config_db_activity_name" value="Debug Cortex-A9x2 SMP"/>
    <stringAttribute key="config_db_connection_keys" value="rvi_address target_initialization_script dtsl_config dtsl_tracecapture_option dtsl_config_script config_file setup TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="Intel SoC FPGA - Cyclone V SoC (Dual Core)"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_db_taxonomy_id" value="/platform/intelsocfpga/cyclonevsoc_dualcore_"/>
    <stringAttribute key="config_file" value="CDB://../Arria V SoC/Altera_DEV5XS1.rvc"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connection_type" value="USB-Blaster"/>
    <stringAttribute key="dapLogfileLocation" value="${workspace_loc}\lab4"/>
    <stringAttribute key="dapLoggingEnabled" value="false"/>
    <listAttribute key="debugger.view.DisassemblyView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.ExpressionsView">
        <listEntry value="tx_alt_ttb[0][(0xFFD00000 &gt;&gt; 20)]"/>
    </listAttribute>
    <mapAttribute key="debugger.view.ExpressionsView.ExpressionsData">
        <mapEntry key="0" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,16進"/>
    </mapAttribute>
    <stringAttribute key="debugger.view.ExpressionsView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;200&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;52&#9;-1&#9;true&#9;2&#9;true&#9;false&#9;180&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;28&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;52&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;54&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.MemoryView" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;page&gt;&#10;&#9;&lt;memoryView/&gt;&#10;&lt;/page&gt;&#10;"/>
    <listAttribute key="debugger.view.MemoryView:current">
        <listEntry value=""/>
        <listEntry value=""/>
    </listAttribute>
    <stringAttribute key="debugger.view.NewRegisterView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;52&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;28&#9;-1&#9;true&#9;3&#9;false&#9;true&#9;28&#9;-1&#9;true&#9;4&#9;false&#9;true&#9;52&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;6&#9;false&#9;true&#9;40&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;54&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.NewRegisterView:_selectedRegisterSet" value="すべてのレジスター"/>
    <mapAttribute key="debugger.view.NewRegisterView_registerSets"/>
    <stringAttribute key="debugger.view.StackView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;52&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;28&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;28&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;52&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;40&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;54&#9;-1&#9;true"/>
    <booleanAttribute key="debugger.view.レジスタ.DrawAsHex" value="false"/>
    <booleanAttribute key="debugger.view.式.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="USBBlaster_DtslScript"/>
    <stringAttribute key="dtsl_config_script" value="CDB://../Arria V SoC/dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value="default"/>
    <stringAttribute key="dtsl_tracecapture_option" value="options.traceBuffer.traceCapture"/>
    <stringAttribute key="launch_configuration_version" value="2021.0"/>
    <booleanAttribute key="linuxOS" value="false"/>
    <stringAttribute key="rddi_type" value="rddi-debug-rvi"/>
    <booleanAttribute key="runAfterConnect" value="false"/>
    <stringAttribute key="runTargetInitializationScript" value="${workspace_loc:/lab4/preloader.ds}"/>
    <stringAttribute key="rvi_address" value="DE-SoC on localhost [USB-1]:DE-SoC USB-1"/>
    <mapAttribute key="scripts_view_script_links">
        <mapEntry key="C:\Program Files\Arm\Development Studio 2024.1\sw\debugger\configdb\Scripts\altera_target_check.py" value=""/>
        <mapEntry key="E:\Project\Embedded\intelFPGA\DE10-Nano-Proj\HPS\learn\lab4\preloader.ds" value=""/>
        <mapEntry key="E:\intelFPGA\DE10-Nano-Proj\HPS\learn\lab4\preloader.ds" value=""/>
        <mapEntry key="H:\Arm\Development Studio 2021.0\sw\debugger\configdb\Scripts\altera_target_check.py" value=""/>
    </mapAttribute>
    <listAttribute key="setup">
        <listEntry value="CDB://../../../Scripts/altera_debug_server.py"/>
        <listEntry value="CDB://rddi-dap_cfg-altera.txt rddi-dap_altera"/>
    </listAttribute>
    <booleanAttribute key="single_platform" value="true"/>
    <stringAttribute key="stopAtExpression" value="*$ENTRYPOINT"/>
    <stringAttribute key="target_initialization_script" value="CDB://../../../Scripts/altera_target_check.py"/>
    <mapAttribute key="user_modifiable_config_items"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
